@if (theExamIsOver()) {
<section>
  <div class="container mx-auto">
    <div class="md:w-[70%] mx-auto px-4 md:px-0">
      <h1 class="text-3xl font-bold my-4 text-center">Quiz Result</h1>


    <div class="mt-8 mb-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        <div class="bg-[#E6EDF5]  p-4 rounded-lg text-center">
          <p class="text-2xl font-bold">Score </p>
          <p class="text-2xl font-bold mt-1.5">{{counter()*10}}% </p>
        </div>
        <div class="bg-[#E6EDF5]    p-4 rounded-lg text-center">
          <p class="text-2xl font-bold"> Correct Answers</p>
          <p class="text-2xl font-bold mt-1.5">{{counter()}} </p>
        </div>
        <div class="bg-[#E6EDF5]    p-4 rounded-lg text-center">
          <p class="text-2xl font-bold"> Incorrect Answers</p>
          <p class="text-2xl font-bold mt-1.5">{{10 - counter()}}  </p>
        </div>
      </div>

    </div>

    <div class="mt-8 mb-4">
        <h2 class="text-2xl font-bold">
          Performance Evaluation .</h2>
          @if (counter() >= 8) {

            <p class="mt-2 text-lg sp"> You performed Well in this Quiz , Demonstrating a strong understanding of the subject matter. Keep up the excellent work!  </p>
          }@else if (counter() < 8 && counter() >= 5) {
            <p class="mt-2 text-lg sp"> You performed Adequately in this Quiz, showing a fair understanding of the subject matter. However, there is room for improvement. Consider reviewing the material to enhance your knowledge. </p>
          }@else {
            <p class="mt-2 text-lg sp"> You performed Poorly in this Quiz, indicating a need for further study and understanding of the subject matter. It's important to review the material thoroughly to improve your performance in future assessments. </p>
          }
    </div>

      <div class="mt-8 mb-4">
        <button class="block  mx-auto">
          <a routerLink="/home" class="bg-black text-white px-4 py-2 rounded-lg cursor-pointer">
            Take Another Quiz
          </a>
        </button>
    </div>
 </div>
  </div>
</section>
}@else {
@if(isCallingApi()){
<app-skeleton-quiz></app-skeleton-quiz>
}@else{
<section>
  <div class="container mx-auto">
    <div class="md:w-[70%] md:mx-auto px-4 md:px-0">
      <h1 class="text-xl font-bold my-4">Qustions {{indexOfQuestion() + 1}} of 10</h1>

      <div class="w-full bg-gray-200 rounded-full h-3 ">
        <div class="bg-black h-3 rounded-full transition-[width] duration-300"
          [style.width]=" widthOfProgressBar()+ '%'">
        </div>
      </div>

      <div class="mt-8 mb-4 timer__container">
        <div class="flex justify-between items-center  gap-3">

          <div class="bg-[#E6EDF5] w-1/2 p-4 rounded-lg text-center">
            <p class="text-2xl font-bold"> {{minutes()}} </p>
          </div>
          <div class="bg-[#E6EDF5] w-1/2 p-4 rounded-lg text-center">
            <p class="text-2xl font-bold">{{seconds()}}</p>
          </div>
        </div>

        <div class="flex justify-between items-center timer gap-3">

          <div class=" w-1/2 p-4  text-center">
            <p class="text-xl font-semibold">Minutes</p>
          </div>
          <div class=" w-1/2 p-4  text-center">
            <p class="text-xl font-semibold">Seconds</p>
          </div>
        </div>
      </div>

      <div class="quizz__container mt-4">
        <h2 class="question text-2xl font-bold"> {{question?.question}}</h2>

        <div class="answers mt-4">

          @for (answer of questionsAnswered; track $index) {
          <div #answer (click)="selectAnswer($event)"
            class="answer border border-[#b2b7bd] p-4 rounded-lg cursor-pointer mt-4 transition-all duration-200">
            <p class="text-xl font-semibold"> {{answer}} </p>
          </div>
          }
        </div>
      </div>
      <div class="flex justify-end  my-8">

        <button (click)="btnNext()" [disabled]="btnDisabled()" role="button" class="bg-[BLACK] text-white px-4 py-2 rounded-lg cursor-pointer" [class]="{'opacity-50': btnDisabled()}">
          Next
        </button>
      </div>

    </div>
  </div>
</section>
}

}
